* {
    /*	font-size: 10px;
    font-family: monospace; */
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
}

#workspaces button {
    padding: 0 2px;
    color: #ebdbb2;
}
#workspaces button.focused {
    color: #fe8019;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #1a1a1a;
    border: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    color: #d3869b;
}
#memory {
    color: #83a598;
}
#cpu {
    color: #fe8019;
}
#battery {
    color: #8ec07c;
}
#disk {
    color: #a89984;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}
